/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

li {
    list-style-type: none;
}

a {
    color: black;
}

/* UTILITY */

.text-bold {
    font-weight: bold;
}

/* HEADER */

/* TOP-NAV */

.top-nav ul {
    display: flex;
    justify-content: flex-end;
    margin-top: .625rem;
    margin-right: 7.5rem;
}

.top-nav ul li {
    margin-right: 3.125rem;
}

/* BOTTOM-NAV */

.bottom-nav {
    max-width: 1100px;
    margin: 0 auto;
}

.bottom-nav img {
    width: 70px;
    height: 70px;
}

.bottom-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#trova-un-ristorante {
    margin-left: 3.75rem;
}

.bg-header {
    max-width: 100%;
    height: 550px;
    background-image: url(images/menu--hero-dsk.jpg.webp);
    background-size: cover;
    background-position: center;
    margin-top: .9375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-container {
    width: 350px;
    margin: 0 170px;
}

.text {
    width: 350px;
  
    
}

.text > * {
    margin-bottom: .9375rem;
}

/* NAV-TABLET */

.nav-tablet {
    max-width: 100%;
    margin: 0 auto;
    display: none;
}

.nav-tablet img {
    width: 100px;
    height: 60px;
}

.nav-tablet ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-tablet ul li {
    padding: .9375rem 1.875rem;
}

/* MAIN */

/* MAIN-TABLET */

.prodotti {
    display: none;
}

main {
    background-color: #FBF9F7;
}

.row {
    width: 1100px;
    margin: 0 auto;
}

.row > ul {
    display: flex;
    margin-bottom: 2.5rem;
    padding-top: 1.25rem;
}

.row > ul li {
    margin-right: .625rem;
}

.menu-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.menu-container > div {
    width: calc(100% / 6);
    text-align: center;
    margin-bottom: 1.25rem;
}

.menu-container img {
    width: 100%;
    margin-bottom: .625rem;
}



/* RESPONSIVE */

/* Tablet fino a 768px */

@media screen and (max-width: 768px){

    /*header */

    .nav-tablet {
        display: block;
    }

    .top-nav,
    .bottom-nav {
        display: none;
     }

    .bg-header p {
        display: none;
    }

    .bg-header {
        background-image: url(images/bg-header-tablet.webp);
        background-position: center;
        background-size: cover;
        height: 800px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .text-container{
        text-align: center;
        margin-bottom: 6.25rem;
    }

    .menu-container > div {
        width: calc(100% / 4);
    }

    .row ul {
        display: none;
    }

    .prodotti {
        display: block;
        margin: 1.875rem 0;
        margin-left: 1.875rem;
    }

}

/* Mobile fino a 320px */

@media screen and (max-width: 320px){

    /* header */

    .bg-header {
        background-image: url(images/bg-header-mobile.webp);
        background-position: center;
        background-size: cover;
        height: 375px;
    }

    .text-container {
        margin-bottom: 1.875rem;
    }

    .prodotti {
        margin-left: .9375rem;
    }

    .menu-container > div {
        width: calc(100% / 2);
    }
    
}
